<!DOCTYPE html>
<html>
	<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
		
<script>
	//creating a module which defines application in angular
var app = angular.module('myApp', []);
	//adding controllers control applications in angular
app.controller('myCtrl', function($scope) {
    $scope.firstName= "Dylan";
    $scope.lastName= "Barrett";
});
</script>
	</head>
<body>

<p>Try to change the names.</p>
<div ng-app="myApp" ng-controller="myCtrl">
First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: {{firstName + " " + lastName}}
</div>
</body>
</html>